@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Prevent horizontal scrollbar */
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

#root {
  overflow-x: hidden;
  max-width: 100vw;
}